
.vs/UmaAssistant/v17/Solution.VC.db-wal
.vs/UmaAssistant/v17/Solution.VC.db-shm
.vs/UmaAssistant/v17/Solution.VC.db
.vs/UmaAssistant/v17/ipch/AutoPCH/ff418a0d68c0e006/UMAFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/fe017529722c605a/LUATEST.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/faa7eb69bce5503c/PATH.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f8bd87a2f5b92a81/FORMMANAGERD.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f8556eb5718377a7/CHARACTERCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f7d3678317954053/CHARACTERCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f7ade5b4fae3f3e4/UMAFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f7220a2acfec0cc3/PREVIEW.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f24bd027ff7975fd/SCANNER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f1078a1237172c64/SCANNER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/f0981f545f49ac6c/SETTINGSFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/efa0bebd8d9301f2/CHARACTERCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/e98b7db1e97d4076/CHARACTERCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/e8becc1beb629b90/MAIN.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/e531b950cb9301b3/PREVIEWFROM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/e2844c9c0113417e/FORMSTATE.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/e173ca6c7e6ed400/CHARACTERFILTER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/e01e97b4bcca600/CHARACTERCOMBINE.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/dd5a740289752f6c/UMAFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/dcaf2e3af057f894/CHARACTERFILTER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/d69d6c3e58acfb9d/CHARACTERFILTER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/d345e2e190541259/SCREENSHOT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/d2e60ad52e91e554/BITMAPCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/c60438acabe5440d/LUATEST.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/badac2402e9e7228/FORMMANAGER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/b97cfbdac3491571/FORMMANAGER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/b737cb4a79c42f3f/SCANNER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/b727bdca3910b660/STDAFX.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/b404e951179b446a/CHARACTERCONVERTT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/b2d8e92bbe3a7da3/FORMMANAGERD.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/a695903292845bbb/UMAFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/a4543b0ec72c0950/BITMAPCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/a2cd1e2538555392/UTILITY.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/9ed9635cb893566/PREVIEW.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/9cdff71cfa33dd32/PATHFINDER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/94c63906697f1291/CHARACTERCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/9307a497c2627f73/PATH.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/92969d4795396b70/MSTARTUP.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/91ed6dd06765b8c1/FORMMANAGER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/91197d829a27c890/PREVIEWFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/90031fd476997ff/BITMAPCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/8ec851396cc4ef35/PATH.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/8979de18a18b3863/FORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/8824e35ddc20fed1/CHARACTERCOMBINE.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/86a16a3bd121db2a/PATHFINDER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/81fbad9dde976401/PATHFINDER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/7d19029384efb85d/BITMAPCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/7c2275a5eeeb990c/GLOBAL.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/77ef4e9b9b1ea78c/LOCALE0.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/750114d7750f80f0/PATHFINDER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/74bca6c2e60f2958/SCREENSHOT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/65fea13937fdf3a7/LUATEST.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/652d3945950c0185/GLOBAL.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/64a375ebbdc3d729/PREVIEWFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/6294ed0ecc2161f8/FORMMANAGERD.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/5d954ea62c3e2ddd/SETTINGSFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/58d9707f0fd77abf/FORMMANAGER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/58b91262c6aab014/UTILITY.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/57c826567a9e3ab9/FORMMANAGER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/5611e56a829cbc92/LOCALE0.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/54dc735f969223c6/LUA_TEST.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/5396cd1696872c6b/FORMSTATE.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/4b6aa226f8b35d46/FORMMANAGERD.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/4aead21197d014e1/BITMAPCONVERT.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/4689a7c6d2a99212/CHARACTERCOMBINE.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/414b8146f021133e/FORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/39b4503f36b707e5/SCANNER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/2f740835822b5d65/UMAFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/2f25d4dcebc939e/MSTARTUP.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/2d5a49f75f43032f/CHARACTERCOMBINE.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/2d10d0e558243518/FORMSTATE.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/2c5807116c004be7/UMALUALIB.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/2534f2e7ecb8d94f/PATHFINDER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/22b8b62cdd8a0365/UMAFORM.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/1fc72a8c18cca2bd/LUA_TEST.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/199997e7de3b4146/GLOBAL.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/198dd1067d7c2acc/LUA_TEST.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/18a21ba7c82a01a3/GLOBAL.ipch
.vs/UmaAssistant/v17/fileList.bin
.vs/UmaAssistant/v17/Browse.VC.opendb
.vs/UmaAssistant/v17/Browse.VC.db-wal
.vs/UmaAssistant/v17/Browse.VC.db-shm
.vs/UmaAssistant/v17/Browse.VC.db
.vs/UmaAssistant/v17/.suo
.vs/UmaAssistant/FileContentIndex/f9f409ff-502b-410f-acd2-d33b5db1a935.vsidx
.vs/UmaAssistant/FileContentIndex/8b757c77-e471-40b8-84ad-48bcdee5c964.vsidx
.vs/UmaAssistant/FileContentIndex/76df03c0-fe98-42d5-bcf7-32262ce3bee0.vsidx
.vs/UmaAssistant/FileContentIndex/3d4d5ccc-97df-497e-9510-26bd306b3366.vsidx
x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cpp
x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.obj
x64/Release/archive.dll
x64/Release/bz2.dll
x64/Release/CharacterCombine.obj
x64/Release/CharacterConvert.obj
x64/Release/CharacterFilter.obj
x64/Release/FormManager.obj
x64/Release/gif.dll
x64/Release/jpeg62.dll
x64/Release/leptonica-1.83.1.dll
x64/Release/libcrypto-3-x64.dll
x64/Release/libcurl.dll
x64/Release/liblzma.dll
x64/Release/libpng16.dll
x64/Release/libsharpyuv.dll
x64/Release/libwebp.dll
x64/Release/libwebpmux.dll
x64/Release/luaTest.obj
x64/Release/lz4.dll
x64/Release/main.obj
x64/Release/openjp2.dll
x64/Release/Path.obj
x64/Release/Pathfinder.obj
x64/Release/PreviewForm.obj
x64/Release/Scanner.obj
x64/Release/Screenshot.obj
x64/Release/SettingsForm.obj
x64/Release/tesseract53.dll
x64/Release/tiff.dll
x64/Release/UmaAssistant.exe
x64/Release/UmaAssistant.exe.metagen
x64/Release/UmaAssistant.exe.recipe
x64/Release/UmaAssistant.log
x64/Release/UmaAssistant.pdb
x64/Release/UmaAssistant.tlog/CL.command.1.tlog
x64/Release/UmaAssistant.tlog/Cl.items.tlog
x64/Release/UmaAssistant.tlog/CL.read.1.tlog
x64/Release/UmaAssistant.tlog/CL.write.1.tlog
x64/Release/UmaAssistant.tlog/link.command.1.tlog
x64/Release/UmaAssistant.tlog/link.read.1.tlog
x64/Release/UmaAssistant.tlog/link.write.1.tlog
x64/Release/UmaAssistant.tlog/metagen.read.1.tlog
x64/Release/UmaAssistant.tlog/metagen.write.1.tlog
x64/Release/UmaAssistant.tlog/ResGen.command.1.tlog
x64/Release/UmaAssistant.tlog/ResGen.read.1.tlog
x64/Release/UmaAssistant.tlog/ResGen.write.1.tlog
x64/Release/UmaAssistant.tlog/UmaAssistant.lastbuildstate
x64/Release/UmaAssistant.tlog/UmaAssistant.write.1u.tlog
x64/Release/UmaAssistant.UmaAssistant.form.PreviewForm.resources
x64/Release/UmaAssistant.UmaAssistant.form.SettingsForm.resources
x64/Release/UmaAssistant.UmaAssistant.form.UmaForm.resources
x64/Release/UmaAssistant.vcxproj.AssemblyReference.cache
x64/Release/UmaAssistant.vcxproj.FileListAbsolute.txt
x64/Release/UmaAssistant.vcxproj.GenerateResource.cache
x64/Release/UmaForm.obj
x64/Release/vc143.pdb
x64/Release/vcpkg.applocal.log
x64/Release/zlib1.dll
x64/Release/zstd.dll
vcpkg/
.vs/UmaAssistant/FileContentIndex/4de3c748-3709-407b-8339-e7ea5da73ec1.vsidx
.vs/UmaAssistant/FileContentIndex/c4fd3e06-0140-41d4-aaba-4edf268124b0.vsidx
.vs/UmaAssistant/v17/ipch/AutoPCH/ddfed102dceeda25/SCREENSHOT.ipch
/.vs/UmaAssistant/FileContentIndex
x64/Release/event_parser.lua
x64/Release/file_manager.lua
x64/Release/html_dumper.lua
x64/Release/print_enhance.lua
x64/Release/UmaAssistant.Build.CppClean.log
x64/Release/UmaAssistant.PreviewForm.resources
x64/Release/UmaAssistant.SettingsForm.resources
x64/Release/UmaAssistant.UmaForm.resources
x64/Release/utility.lua
opencv_world481d.dll
opencv_world481.dll
.vs/UmaAssistant/v17/ipch/AutoPCH/6f007f7900521d8d/FILEMANAGER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/679dce1d761fab88/FILEMANAGER.ipch
.vs/UmaAssistant/v17/ipch/AutoPCH/4c136782441bc704/FILEMANAGER.ipch
*.obj
/.vs/UmaAssistant/v17/ipch/AutoPCH
.vs/UmaAssistant/v17/HierarchyCache.v1.txt
x64/Release/UmaAssistant.tlog/unsuccessfulbuild
x64/Release/CharacterCombine.nativecodeanalysis.sarif
x64/Release/CharacterCompare.nativecodeanalysis.sarif
x64/Release/CharacterFilter.nativecodeanalysis.sarif
x64/Release/DataManager.nativecodeanalysis.sarif
x64/Release/FileManager.nativecodeanalysis.sarif
x64/Release/FormControl.nativecodeanalysis.sarif
x64/Release/FormController.nativecodeanalysis.sarif
x64/Release/FormDesigner.nativecodeanalysis.sarif
x64/Release/FormManager.nativecodeanalysis.sarif
x64/Release/luaTest.nativecodeanalysis.sarif
x64/Release/main.nativecodeanalysis.sarif
x64/Release/Path.nativecodeanalysis.sarif
x64/Release/Pathfinder.nativecodeanalysis.sarif
x64/Release/PreviewForm.nativecodeanalysis.sarif
x64/Release/Scanner.nativecodeanalysis.sarif
x64/Release/SettingsForm.nativecodeanalysis.sarif
x64/Release/UmaEventData.nativecodeanalysis.sarif
x64/Release/UmaLuaLib.dll
x64/Release/UmaSwitch.nativecodeanalysis.sarif
x64/Release/console.lua
UmaPy/__pycache__
UmaPy/umaenv
python312.dll
lua54.dll
Release