@font-face {
    font-family: "MochiyPopOne";
    src: url("../UmaMisc/Font/MochiyPopOne-Regular.ttf") format("truetype");
}

body {
    /* overflow: hidden; */
    
    background: linear-gradient(to right, #10182a, #10192d);

    /* font */
    font-family: "MochiyPopOne", sans-serif;
    color: #cfc197;
    font-size: 0.9em;
}

img {
    width: 1.5em;
    height: 1.5em;
}

table, tr, th, td {
    border: 1px solid #1c4da7;
}

/* id *//* id *//* id *//* id *//* id */
#custom_scroll {
    position: fixed;
    top: 1px;
    right: 1px;
    height: 100vh;
    width: 5px;
    background-color: #533081;
    border-radius: 10%;
    cursor: ew-resize;
}

#info_table {
    width: 100%;
    /* height: 100%; */
}

#info_table th {
    width: 25%;
}

#choice_table {
    width: 100%;
    /* color: rgb(0, 255, 255); */
}

#choice_table th {
    color: rgb(193, 169, 248);
}   

#choice_table td {
    color: rgb(255, 255, 255) ;
    text-align: center;
}



/* class *//* class *//* class *//* class */
.status_minus_value {
    color: rgb(255, 40, 40);
}

.status_plus_value {
    color: rgb(0, 255, 0);
}


.status_speed {
    color: #5aadf9;
}
.status_sutamina{
    color: #ee7b66;
}
.status_power{
    color: #f3a940;
}
.status_konjyou{
    color: #f270a0;
}
.status_kasikosa{
    color: #55bd84;
}






