@font-face {
    font-family: "MochiyPopOne";
    src: url("../UmaMisc/Font/MochiyPopOne-Regular.ttf") format("truetype");
}

body {
    /* overflow: hidden; */
    
    background: linear-gradient(to right, #10182a, #10192d);

    /* font */
    font-family: "MochiyPopOne", sans-serif;
    color: #cfc197;
    font-size: 0.9em;
}

img {
    width: 1.5em;
    height: 1.5em;
}

#info_table, #info_table tr, #info_table th, #info_table td {
    border: 1px solid #1c4da7;
}

#choice_table, #choice_table tr, #choice_table th, #choice_table td {
    border: 1px solid #1c4da7;
}

/* id *//* id *//* id *//* id *//* id */
#custom_scroll {
    position: fixed;
    top: 1px;
    right: 1px;
    height: 100vh;
    width: 5px;
    background-color: #533081;
    border-radius: 10%;
    cursor: ew-resize;
}

#info_table {
    width: 100%;
    /* height: 100%; */
}

#info_table th {
    width: 25%;
}

#choice_table {
    width: 100%;
    /* color: rgb(0, 255, 255); */
}

#choice_table th {
    color: #f8e2ff;
}   

#choice_table td {
    color: rgb(255, 255, 255) ;
    text-align: center;
}

#skill_table {
    color: rgb(123, 66, 26);
    width: 100%;
    height: 30%;
}

#skill_table thead th {
    
    width: 25%;
}

#skill_table thead td {

    width: 100%;
}

#skill_table thead, th {
    /* border-right: solid; */
}

#skill_hint_content {
    display: none;
    position: fixed;
    pointer-events: none;
    width: 60vw;
    height: 50vh;
    /* background: linear-gradient(to right,  rgb(254, 242, 176), rgb(254, 195, 57)); */
    background: linear-gradient(to right,  rgb(248, 248, 248), rgb(199, 199, 212));
    top: 10px;
    /* bottom: 1px; */
    left: 10px;
    /* right: 1px; */
}

#skill_icon {
    /* text-align: center; */
    width: 50%;
    height: auto;
}

#skill_name {
    color: rgb(123, 66, 26);
    font-size: 1.1em;
}

/* class *//* class *//* class *//* class */
.status_minus_value {
    color: rgb(255, 40, 40);
}

.status_plus_value {
    color: #9dff00;
}

.status_speed {
    color: #5aadf9;
}
.status_sutamina{
    color: #ee7b66;
}
.status_power{
    color: #f3a940;
}
.status_konjyou{
    color: #f270a0;
}
.status_kasikosa{
    color: #55bd84;
}

.skill_hint {
    color: rgb(250, 236, 110);
}

.plus_condition {
    color: #9dff00;
}

.minus_condition {
    color: rgb(255, 40, 40);
}

.choice_title {
    background: linear-gradient(to right,  rgb(132, 79, 255), rgb(54, 51, 248));
}

/* .skill_hint:hover {
    color: red;
} */






