@font-face {
    font-family: "MochiyPopOne";
    src: url("../UmaMisc/Font/MochiyPopOne-Regular.ttf") format("truetype");
}

body {
    overflow: hidden;
    
    background: linear-gradient(to right, #10182a, #10192d);

    /* font */
    font-family: "MochiyPopOne", sans-serif;
    color: #cfc197;
    font-size: 0.9em;
}

img {
    width: 1.5em;
    height: 1.5em;
}

table {
    width: 100%;
}

table {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(40, 48, 68);
}

table th {
    width: 30%;
}

table td {
    width: 100%;
}

#character_name {
    font-size: 1em;
}