@font-face {
    font-family: "MochiyPopOne";
    src: url("../UmaMisc/Font/MochiyPopOne-Regular.ttf") format("truetype");
}

/* ========== start scrollbar ========== */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #10192d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f9f9bb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #584763;
}
/* ========== end scrollbar ========== */

body {
    /* overflow: hidden; */
    
    /* background: transparent; */
    background: linear-gradient(to right, #10182a, #10192d);

    /* font */
    font-family: "MochiyPopOne", sans-serif;
    color: #cfc197;
    font-size: 0.9em;
    
    user-select: none;
}


img {
    width: 1.4em;
    height: 1.4em;
    margin-left: 0.2ch;
	margin-right: 0.2ch;
}

/* 把 th 的字型從粗體改回一般 */
th {
    font-weight: normal;
}

#event_owner_title {
    padding-left: 2ch;
    text-align: left;
}
#event_name_title {
    padding-left: 2ch;
    text-align: left;
}


#info_table {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(40, 48, 68);
    /* background-color: rgba(40, 48, 68, 0.5); */
    margin-top: 10px;
    margin-bottom: 10px;
}

#info_table th {
    width: 25%;
    border-radius: 10px 10px 10px 10px;
}

#choice_table {
    /* border: 5px solid #702680; */
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(40, 48, 68);
    /* background-color: rgba(40, 48, 68, 0.5); */
}

#choice_table th {
    border-radius: 10px 10px 10px 10px;
}

/* id *//* id *//* id *//* id *//* id */

#choice_table {
    width: 100%;
}


#choice_table th {
    color: #f8e2ff;
}   

#skill_table {
    color: rgb(123, 66, 26);
    width: 100%;
    height: 30%;

    /* display: */
}

#skill_table thead th {
    
    width: 25%;
}

#skill_table thead td {

    width: 100%;
}


#skill_hint_content {
    display: none;
    position: fixed;
    pointer-events: none;

    font-size: 0.80em;

    width: 70vw;
    height: 50vh;
    /* background: linear-gradient(to right,  rgb(254, 242, 176), rgb(254, 195, 57)); */
    background: linear-gradient(to right,  rgb(248, 248, 248), rgb(199, 199, 212));
    border-radius: 10px 10px 10px 10px;

    top: 10px;
    /* bottom: 1px; */
    left: 10px;
    /* right: 1px; */
}

#skill_icon {
    /* text-align: center; */
    width: 50%;
    height: auto;
}

#skill_name {
    color: rgb(123, 66, 26);
    font-size: 1.2em;
}

/* class *//* class *//* class *//* class */

/*
#skill_effect_table {
    width: 100%;
}
#skill_condition_table {
    width: 100%;
}
*/

.skill_effect_title {
    text-align: left;
}

.skill_condition_title {
    text-align: left;
}

.skill_effect {
    text-align: left;
}

.skill_condition {
    text-align: left;
}

.enhance_skill_data {
    width: 30%;
    text-align: left;
}

.skill_condition_data {
    width: 50%;
}

.choice_effect {
    color: rgb(255, 255, 255);
    /* padding-left: 20vw; */
    /* text-align: left; */
    text-align: center;
}

.status_minus_value {
    color: rgb(250, 61, 61);
}

.status_plus_value {
    color: #9dff00;
}

.status_speed {
    color: #7cc0ff;
}
.status_sutamina{
    color: #ee7b66;
}
.status_power{
    color: #f3a940;
}
.status_konjyou{
    color: #f270a0;
}
.status_kasikosa{
    color: #55bd84;
}

/* 三女神欠片 */
.status_kakera_ao {
    color: rgb(119, 127, 214);
}
.status_kakera_aka {
    color: rgb(236, 96, 107);
}
.status_kakera_kiniro {
    color: rgb(248, 211, 72);
}

.megami_img {
    width: 3.5em;
    height: 3.5em;
}


.skill_hint {
    color: rgb(250, 236, 110);
}

.plus_condition {
    color: #9dff00;
}

.minus_condition {
    color: rgb(250, 61, 61);
}

.choice_name {
    background: linear-gradient(to right,  rgb(132, 79, 255), rgb(54, 51, 248));
}

.yaruki {
    color: rgb(255, 200, 22);
}

.status_skill_point {
	color: rgb(197, 160, 135);
}

.strength {
    color: rgb(108, 223, 255);
}

.max_strength {
    color: rgb(196, 243, 255);
}