@font-face {
    font-family: "MochiyPopOne";
    src: url("../UmaMisc/Font/MochiyPopOne-Regular.ttf") format("truetype");
}

body {
    /* overflow: hidden; */
    
    background: linear-gradient(to right, #10182a, #10192d);

    /* font */
    font-family: "MochiyPopOne", sans-serif;
    color: #cfc197;
    font-size: 0.9em;
    
    user-select: none;
}

img {
    width: 1.4em;
    height: 1.4em;
    padding-right: 0.5ch;
}

/* 把 th 的字型從粗體改回一般 */
th {
    font-weight: normal;
}

#info_table {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(40, 48, 68);
    margin-top: 10px;
    margin-bottom: 10px;
}

#info_table th {
    width: 25%;
    border-radius: 10px 10px 10px 10px;
}

#choice_table {
    /* border: 5px solid #702680; */
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(40, 48, 68);
}

#choice_table th {
    border-radius: 10px 10px 10px 10px;
}

/* id *//* id *//* id *//* id *//* id */
/*
#custom_scroll {
    position: fixed;
    top: 1px;
    right: 1px;
    height: 100vh;
    width: 5px;
    background-color: #533081;
    border-radius: 10%;
    cursor: ew-resize;
}
*/

#choice_table {
    width: 100%;
    /* color: rgb(0, 255, 255); */
}

#choice_table th {
    color: #f8e2ff;
}   

#skill_table {
    color: rgb(123, 66, 26);
    width: 100%;
    height: 30%;

    /* display: */
}

#skill_table thead th {
    
    width: 25%;
}

#skill_table thead td {

    width: 100%;
}


#skill_hint_content {
    display: none;
    position: fixed;
    pointer-events: none;

    font-size: 0.80em;

    width: 70vw;
    height: 50vh;
    /* background: linear-gradient(to right,  rgb(254, 242, 176), rgb(254, 195, 57)); */
    background: linear-gradient(to right,  rgb(248, 248, 248), rgb(199, 199, 212));
    border-radius: 10px 10px 10px 10px;

    top: 10px;
    /* bottom: 1px; */
    left: 10px;
    /* right: 1px; */
}

#skill_icon {
    /* text-align: center; */
    width: 50%;
    height: auto;
}

#skill_name {
    color: rgb(123, 66, 26);
    font-size: 1.2em;
}

#skill_effect_table > tr {
    /* background: linear-gradient(to right bottom,  rgb(248, 248, 248), rgb(214, 214, 233), rgb(248, 248, 248)); */
}

#skill_effect_title {
    /* background: linear-gradient(to right bottom,  rgb(248, 248, 248), rgb(214, 214, 233), rgb(248, 248, 248)); */
}

#skill_condition_title {
    /* background: linear-gradient(to right bottom,  rgb(248, 248, 248), rgb(214, 214, 233), rgb(248, 248, 248)); */
}

/* class *//* class *//* class *//* class */

.enhance_skill_data {
    width: 30%;
    text-align: left;
}

.skill_condition_data {
    width: 50%;
}

.choice_effect {
    color: rgb(255, 255, 255);
    /* padding-left: 20vw; */
    /* text-align: left; */
    text-align: center;
}

.status_minus_value {
    color: rgb(250, 61, 61);
}

.status_plus_value {
    color: #9dff00;
}

.status_speed {
    color: #7cc0ff;
}
.status_sutamina{
    color: #ee7b66;
}
.status_power{
    color: #f3a940;
}
.status_konjyou{
    color: #f270a0;
}
.status_kasikosa{
    color: #55bd84;
}

.skill_hint {
    color: rgb(250, 236, 110);
}

.plus_condition {
    color: #9dff00;
}

.minus_condition {
    color: rgb(250, 61, 61);
}

.choice_name {
    background: linear-gradient(to right,  rgb(132, 79, 255), rgb(54, 51, 248));
}

.yaruki {
    color: rgb(255, 200, 22);
}

.status_skill_point {
	color: rgb(197, 160, 135);
}

.strength {
    color: rgb(108, 223, 255);
}

.max_strength {
    color: rgb(196, 243, 255);
}



/* .skill_hint:hover {
    color: red;
} */






