@font-face {
    font-family: "MochiyPopOne";
    src: url("../UmaMisc/Font/MochiyPopOne-Regular.ttf") format("truetype");
}

body {
    background: linear-gradient(to right, #10182a, #10192d);

    /* font */
    font-family: "MochiyPopOne", sans-serif;
    color: #cfc197;
    font-size: 0.9em;
    
    user-select: none;
}

th {
    font-weight: normal;
}

img {
    width: 5.15em;
    height: 5.15em;
    
}

table {
    width: 100%;
}

/* table, thead, tbody, tr, th, td {
    background-color: #33405e;
    border-radius: 10px 10px 10px 10px;
} */

/*   id   *//*   id   *//*   id   *//*   id   */

#search_table {
    background-color: rgb(40, 48, 68);
    border-radius: 10px 10px 0px 0px;
}

#icon_table {
    background-color: rgb(40, 48, 68);
    border-radius: 0px 0px 10px 10px;
}

#search_title {
    width: 25%;
}

#search_textbox {
    box-sizing: border-box; /* 確保寬度包含內邊距和邊框 */
    border: none; /* 隱藏邊框 */
    box-shadow: none; /* 隱藏陰影 */
	outline: none;
    font: inherit;
    
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, #4638c5, #6e20eb);
    border-radius: 10px 10px 10px 10px;
    color: #cfc197;
}
#search_textbox::placeholder {
    color: #cfc197; /* 設定placeholder的顏色 */
}
#search_textbox:focus::placeholder {
    color: #7e7e7e; /* 設定placeholder的顏色 */
}

#icon_table, #icon_table tr, #icon_table td {
    width: 100%;
}

/*
#icon_container {
    text-align: center;
}
*/

/* class *//* class *//* class *//* class *//* class */

@keyframes scaleCharacterImgAnim {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.character_icon:hover {
    cursor: pointer;
    transform: scale(1.1);

    animation: scaleCharacterImgAnim 0.1s forwards
}

